body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.Heading {
    height: 200px;
    background-color: #7f87d6;
    overflow: hidden;
    position: relative;
}

h2 {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
}

h4{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

p {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: -48px;
}

img {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: -95px;
    border-radius: 60px;
}

.Input_Kota {
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding-top: 10px 15px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

.container {
    max-width: 350px;
    height: auto;
    margin: 50px auto;
    align-items: center;
    padding: 20px;
    background-color: #80b472;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h3 {
    font-style: normal;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    font-size: 15px;
    font-style: oblique;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px auto;
    border: 1 solid black;
}

tr{
    border: 1 solid;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #7f87d6;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
td {
    color: #555555;
    text-align: center;
}
